apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: fastfood-customer-ingress
  namespace: fastfood-customer
spec:
  ingressClassName: nginx
  rules:
  - http:
      paths:
      - path: /
        pathType: Prefix
        backend:  
          service:
            name: fastfood-customer-service
            port:
              number: 8080