apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: customer-ingress
  namespace: customer-app
  annotations:
    nginx.ingress.kubernetes.io/rewrite-target: /$2
spec:
  ingressClassName: nginx
  rules:
  - http:
      paths:
      - path: /customer(/|$)(.*)
        pathType: ImplementationSpecific
        backend:  
          service:
            name: customer-service
            port:
              number: 8080